---
const { node } = Astro.props;
const { url } = node;

function getYouTubeId(url: string) {
  const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
  const match = url.match(regExp);
  return (match && match[2].length === 11) ? match[2] : null;
}

const id = getYouTubeId(url);
---
{id ? (
  <div class="my-12 aspect-video w-full">
    <iframe
      class="w-full h-full rounded-xl shadow-2xl"
      src={`https://www.youtube.com/embed/${id}`}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
) : (
  <p class="text-red-500 italic">Invalid YouTube URL</p>
)}
